body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  font-family: "Inter Tight", Arial, sans-serif;
  width: 100vw;
}

.contentAll{
  width: 100%;
  height: fit-content;
}

.join-logo {
  position: relative;
  margin-top: 60px;
  margin-left: 100px;
}

.arrow-container {
  position: relative;
  left:-250px;
  top: 0;
  cursor: pointer;
}

.signUp-container {
  display: flex;
  justify-content: center;
}

.signUp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 598px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: -93px;
}

header img {
  margin-top: -20px;
}

header h1 {
  font-size: 48px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input-img{
  display: flex;
  
  align-items: center;

}

.input-img img{
  position:relative;
  left: -30px;
}

.input1,
.input2,
.input3,
.input4 {
  width: 422px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 21px;
}

input:focus {
  outline: none;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
}

.checkbox-container a {
  text-decoration: none;
  color: rgb(148, 213, 240);
}

.checkbox-container a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

#checkbox {
  width: 24px;
  height: 24px;
}

button {
  background-color: rgb(42, 54, 72);
  color: white;
  width: 126px;
  height: 55px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 21px;
  white-space: nowrap;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  gap: 80px;
}

footer a {
  color: rgb(188, 187, 188);
  text-decoration: none;
}

.aHover:hover {
  transform: scale(1.1);
  color: rgb(40, 171, 226);
}

.signUpBtn {
  background-color: rgb(42, 54, 72);
  color: white;
  width: 91px;
  height: 49px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  text-align: center;
}

.signUpBtn:hover {
  background-color: rgb(40, 171, 226);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px){
  .signUp-content{
    width: 95vw;
  }

  .arrow-container{
    margin-left: 120px;
  }
}

@media(max-width:465px){
  .input1,.input2,.input3,.input4{
    width: fit-content;
  }

  .arrow-container{
    margin-left: 215px;
  }

  .join-logo{
    margin-top: 14px;
  }
}

.checkbox-alert {
  display: none;
  color: red;
}

#confirmPassword {
  display: block; 
}

@media(max-width:330px){
  .arrow-container{
    margin-left: 280px;
  }

  .input1, .input2, .input3, .input4{
    width: 200px;
  }
}