body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  width: 100vw;
  font-family: "Inter Tight", Arial, sans-serif;
}

.aHover:hover {
  color: rgb(40, 171, 226);
}

.buttonLogin:hover {
  background-color: rgb(40, 171, 226);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.aHover:hover {
  transform: scale(1.1);
}

.contentAll {
  width: 100vw;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 190px;
  align-items: center;
  justify-content: end;
}

.rightContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-right: 150px;
}

.rightContent a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: default;
}

.signUpBtn {
  background-color: rgb(42, 54, 72);
  color: white;
  width: 91px;
  height: 49px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  text-align: center;
}

.signUpBtn:hover {
  background-color: rgb(40, 171, 226);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.Join_Logo {  
  position: absolute;
  z-index: 9999;
  animation: moveImage 3s ease forwards;
}

@keyframes moveImage {
  0% {
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 60px;
    left: 100px;
    transform: none;
    width: 100px;
  }
}

.login-content {
  display: flex;
  justify-content: center;
  animation: loginOpacity 3s ease-in-out forwards;
}

@keyframes loginOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 652px;
  height: 502px;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

#email {
  border: none;
  width: 380px;
  font-size: 21px;
  font-weight: 400;
  background-image: url(assets/img/mail.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 358px 2px;
}

#password {
  border: none;
  width: 380px;
  font-size: 21px;
  font-weight: 400;
  background-image: url(assets/img/lock.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 358px -2px;
}

input:focus {
  outline: none;
}

.login-input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1;
  padding: 5px 15px;
  border-radius: 10px;
  width: 422px;
  height: 50px;
}

.checkbox_forgotPasswort {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.checkbox_forgotPasswort a {
  font-size: 22px;
  text-decoration: none;
  color: rgb(148, 213, 240);
}

.checkbox_forgotPasswort a:hover {
  text-decoration: underline;
}

.checkbox-content span {
  font-size: 18px;
}

.checkbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

input.checkbox:hover {
  transform: scale(1.1);
}

.logInBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.log_in_btn {
  background-color: rgb(42, 54, 72);
  color: white;
  width: 110px;
  height: 48px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 21px;
  white-space: nowrap;
  text-align: center;
}

.guest_login_btn {
  background-color: transparent;
  border: 1px solid black;
  padding: 15px, 24px, 15px, 24px;
  height: 48px;
  border-radius: 10px;
  width: 177px;
  font-size: 21px;
  font-weight: bolder;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.guest_login_btn:hover {
  border-color: #29aae1;
  color: rgb(148, 213, 240) !important;
  transform: scale(1.01);
  transition: transform 225ms ease-in-out;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  gap: 80px;
}

footer a {
  color: rgb(188, 187, 188);
  text-decoration: none;
}

@media (max-width: 1000px) {
  .login-input {
    width: fit-content;
  }

  #email {
    background-position: auto;
  }
}

@media (max-width: 750px) {
  .Join_Logo {
    margin-top: -50px;
    margin-left: -50px;
  }
  .login-content {
    position: relative;
    z-index: 0;
  }
  .login-container {
    width: 85%;
  }

  .logo-container {
    height: 143px;
  }
  #email {
    background-position: 100% 5px;
  }

  #password {
    background-position: 100% -2px;
  }

  .logInBtn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: -21px;
  }

  .log_in_btn {
    padding: 10px;
    font-size: 20px;
    height: fit-content;
    width: 105px;
  }

  .guest_login_btn {
    padding: 10px;
    font-size: 20px;
    height: fit-content;
    width: 150px;
  }

  .checkbox_forgotPasswort {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -20px;
  
  }

  .rightContent {
    display: flex;
    margin-top: 1250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
  }

  footer {
    position: relative;
    z-index: 0;
    margin-top: 95px;
    gap: 35px;
  }

  input.checkbox {
    width: 15px;
    height: 15px;
  }

  .checkbox_forgotPasswort a {
    font-size: 18px;
  }
}

@media (max-width: 570px) {
  #email {
    background-position: 100%;
    width: auto;
  }
  #password {
    background-position: 100%;
    width: auto;
  }
}

@media (max-width: 350px) {
  .rightContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-top: 1300px;
  }

  .Join_Logo{
    margin-top: -50px;
  }

  footer {
    display: none;
  }
}
