body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  width: 100vw;
  font-family: "Inter Tight", Arial, sans-serif;
}

.join-logo {
  position: absolute;
  top: 60px;
  left: 100px;
}

.forgot-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: #ffff;
  width: 832px;
  height: 441px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.text-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: nowrap;
}

.text-header span {
  font-size: 61px;
  line-height: 73px;
}

.text-header img {
  width: 200px;
  margin-left: 200px;
}

.arrow {
  position: relative;
  left: -100px;
  top: -66px;
  cursor: pointer;
}

.text-area span {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  width: 600px;
  text-align: center;
}

#email {
  border: none;
  width: 380px;
  font-size: 21px;
  font-weight: 400;
  background-image: url(assets/img/mail.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 358px 2px;
}

.input-field {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 32px;
  border: 1px solid #d1d1d1;
  padding: 5px 15px;
  border-radius: 10px;
  width: 422px;
  height: 48px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  width: 237px;
  height: 55px;
  border-radius: 8px;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
}

@media (max-width: 900px) {
  .join-logo {
    left: 20px;
  }

  .text-header img {
    text-align: center;
  }

  .arrow {
    left: -50px;
    top: -65px;
  }

  .text-area span {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .forgot-content {
    width: 100%;
  }

  .text-header span {
    font-size: 40px;
  }

  .text-header img {
    margin-left: 100px;
  }
}

@media (max-width: 650px) {
    .text-area{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
  }
  

@media (max-width: 550px) {
  .input-field {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  input#email {
    width: 100%;
  }

  .input-field{
    width: 80%;
  }

  button {
    width: auto;
    white-space: nowrap;
  }
}

@media (max-width: 470px) {
    .text-header span{
        font-size: 33px;
    }

    .text-header img{
        margin-left: 50px;
    }

    .join-logo{
        margin-top: -46px;
    }
}

@media (max-width: 350px){
    .join-logo{
        display: none;
    }

    .arrow{
        margin-left: 50px;
        margin-top: -45px;
    }
}
