<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="favicon" href="../img/favicon.png" />
    <link rel="stylesheet" href="../../style.css">
    <title>Join</title>
</head>

<body>
    <div class="dashboard">
        <header>
            Kamban Project Management Tool
            <div class="header-icons">
                <img class="help-icon" src="../img/help.svg">
                <img class="user-profile-icon" src="../img/User profile initials.svg">
            </div>
        </header>
        <nav>
            <img id="dashboard-logo" src="../img/dashboard-logo.svg">
            <div class="menu-main-container">
                <menu>
                    <div class="links">
                        <div class="link">
                            <img src="../img/summary.svg" class="nav-icon">
                            Summary
                        </div>
                        <div class="link">
                            <img src="../img/add-task.svg" class="nav-icon">
                            Add Task
                        </div>
                        <div class="link">
                            <img src="../img/board.svg" class="nav-icon">
                            Board
                        </div>
                        <div class="link">
                            <img src="../img/contacts.svg" class="nav-icon">
                            Contacts
                        </div>
                    </div>
                </menu>
                <div class="bottom-nav-container">
                    <div class="information-container">
                        <div class="information-link">Privacy Policy</div>
                        <div class="information-link">Legal Notice</div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>