.board-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.board-header-left p {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.magnifier {
    width: 32px;
    height: 32px;
}

.search-field input {
    background-color: transparent;
    border: none;
}

.boardSearchContainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  border-radius: 10px;
}
.boardSearchInputField{
  width: 226px;
  height: 31px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
}

.boardSearchBtn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-left: 1px solid #D1D1D1;
  width: 43px;
  cursor: pointer;
}

.addTaskButton {
    display: flex;
    padding: 8px 16px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.addTaskButton img {
    width: 32px;
    height: 32px;
}

/* Style of the Board-Body */
.board-content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.board-card-header {
    display: flex;
    width: 244px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.board-card-header p{
    width: fit-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
}

.board-card-header img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #2A3647;
    cursor: pointer;
}

.board-card{
    padding-left: 20px;
    padding-right: 20px;
}

.drag-area{
    min-height: 50px;
    background-color: #E7E7E7;
    border: 1px dashed black;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-area-highlight{
    background-color: rgba(0, 0, 0, 0.2);
}

.tasksInBoardOverview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

/* Background-Colors of the different departments */
.bgc-Development{
  background-color: #FF7A00;
}
.bgc-Marketing{
  background-color: #1FD7C1;
}
.bgc-Einkauf{
  background-color: #0038FF;
}
.bgc-Support{
  background-color: #FF4646;
}

.taskHeadline-bg{
  width: fit-content;
  padding: 4px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.card{
    background-color: #FFFFFF;
    border-radius: 10px;
}


/* Overlay-Style */
.overlayStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
  }

  .overlay-content {
    background-color: white;
    border-radius: 31px;
    width: 915px;
    max-height: 85vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideInFromRight 1s;
    padding: 30px;
  }

  .cross-close{
    height: 16px;
    width: 16px;
    transition: ease-in-out 125ms;
    cursor: pointer;
  }

  #addTaskOverlay input{
    height: 51px;
    font-weight: 400;
    font-size: 21px;
    width: -webkit-fill-available;
  }

  #addTaskOverlay textarea{
    resize: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding: 12px 16px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  #addTaskOverlayHead{
    display: flex;
    justify-content: space-between;
  }

  #addTaskOverlayBody{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #addTaskOverlayBodyLeft{
    display: flex;
    flex-direction: column;
  }

  #addTaskOverlayBodyMiddle{
    border: 1px solid #D1D1D1;
  }

  #addTaskOverlayBodyRight{
    display: flex;
    flex-direction: column;
  }

  .elementInAddTaskOverlayBody{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
  }

  .subTaskImage{
    border-left: 1px solid #D1D1D1;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newSubTaskInputArea {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    position: relative;
    box-sizing: border-box;
}

.newSubTaskInputArea input{
  border: none;
}

#subTaskList{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.subTask{
  display: flex;
  align-items: center;
}

.addTaskOverlayBottom{
  display: flex;
  flex-direction: row-reverse;
}

@media(max-width: 1100px) {
  #addTaskOverlayBody{
    display: flex;
    flex-direction: column;
  }
  .overlay-content{
    overflow-y: auto;
    margin: 10px;
  }
   .overlay-content::-webkit-scrollbar {
    display: none;
  }
  #addTaskOverlayBodyMiddle{
    display: none;
  }
}