.board-header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 82px 20px 0 20px;
}

.board-header-left {
  color: #000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.board-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.magnifier {
  width: 32px;
  height: 32px;
}

.search-field input {
  background-color: transparent;
  border: none;
}

.boardSearchContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
}
.boardSearchInputField {
  width: 226px;
  height: 31px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
}

.boardSearchBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-left: 1px solid #d1d1d1;
  width: 43px;
  cursor: pointer;
}

.addTaskButton {
  display: flex;
  padding: 8px 16px;
  height: 55px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: #2a3647;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  white-space: nowrap;
}

.addTaskButton img {
  width: 32px;
  height: 32px;
}

/* Style of the Board-Body */
.board-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  margin-top: 80px;
}

.board-card-header {
  display: flex;
  width: 244px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.board-card-header p {
  width: fit-content;
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}

.board-card-header img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #2a3647;
  cursor: pointer;
}

.board-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.drag-area-highlight{
  border: 2px dashed;
  min-height: 300px;
}

.drag-area {
  min-height: 200px;
  min-width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
}


.tasksInBoardOverview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

/* Background-Colors of the different departments */
.bgc-technicaltask {
  background-color: #1fd7c1;
}
.bgc-userstory {
  background-color: #0038ff;
}

.taskHeadline-bg {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
}

.input-title {
  overflow-y: scroll;
  max-height: 90px;
}

/* Overlay-Style */
.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;
}

.overlay-content {
  background-color: white;
  border-radius: 31px;
  width: 915px;
  max-height: 85vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideInFromRight 1s;
  padding: 30px;
  position: relative;
}

.cross-close {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 16px;
  right: 16px;
}

#addTaskOverlay input {
  height: 51px;
  font-weight: 400;
  font-size: 21px;
  width: -webkit-fill-available;
}

#addTaskOverlay textarea {
  resize: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding: 12px 16px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#addTaskOverlayHead {
  display: flex;
  justify-content: space-between;
}

#addTaskOverlayBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#addTaskOverlayBodyLeft {
  display: flex;
  flex-direction: column;
}

#addTaskOverlayBodyMiddle {
  border: 1px solid #d1d1d1;
}

#addTaskOverlayBodyRight {
  display: flex;
  flex-direction: column;
}

.elementInAddTaskOverlayBody {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}

.subTaskImage {
  border-left: 1px solid #d1d1d1;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newSubTaskInputArea {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  position: relative;
  box-sizing: border-box;
}

.newSubTaskInputArea input {
  border: none;
}

#subTaskList {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.subTask {
  display: flex;
  align-items: center;
}

.addTaskOverlayBottom {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  #addTaskOverlayBody {
    display: flex;
    flex-direction: column;
  }
  .overlay-content {
    overflow-y: auto;
    margin: 10px;
  }
  .overlay-content::-webkit-scrollbar {
    display: none;
  }
  #addTaskOverlayBodyMiddle {
    display: none;
  }

  .tasksInBoardOverview{
    background-color: white;
  }
}

@media (max-width:700px){
.board-header-right{
  width: 100%;
  flex-direction: column;
}

.select-contacts-to-assign-dropdown-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-top: 5px;
  flex-wrap: nowrap;
  padding: 0;
}

.board-content-container{
  margin-top: 5px;
}

.board-header{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-area{
  margin-bottom: 0;
}
}
