.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.board-header-left p {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.magnifier {
    width: 32px;
    height: 32px;
}

.search-field input {
    background-color: transparent;
    border: none;
}

.search-field {
    display: flex;
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
}

.addTaskButton {
    display: flex;
    padding: 8px 16px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.addTaskButton img {
    width: 32px;
    height: 32px;
}

/* Style of the Board-Body */
.board-content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.board-card-header {
    display: flex;
    width: 244px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.board-card-header p{
    width: fit-content;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
}

.board-card-header img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #2A3647;
    cursor: pointer;
}

.board-card{
    padding-left: 20px;
    padding-right: 20px;
}

.drag-area{
    min-height: 50px;
    background-color: #E7E7E7;
    border: 1px dashed black;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-area-highlight{
    background-color: rgba(0, 0, 0, 0.2);
}

.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.card{
    background-color: #FFFFFF;
    border-radius: 10px;
}


/* Overlay-Style */
.overlayStyle{
    position: fixed;
    top: 0px;
    right: 0px;
    display: block;
    background-color:  white;
    margin: 0;
    height: 100%;
    width: 250px;
    box-shadow: -1px -1px 8px #eee;
    z-index: 3;
    right: -100%;
    transition: all 0.8s ease;
}