body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.dashboard {
    width: 100%;
    height: 100svh;
    box-sizing: border-box;
    display: flex;
}

#dashboard-logo {
    width: 100.03px;
    height: 121.97px;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 20px 40px 20px 116px;
    margin-left: 232px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    font-size: 20px;
}

.header-icons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.help-icon:hover {
    scale: 1.1;
    cursor: pointer;
}

.user-profile-icon {
    display: flex;
}

.user-profile-icon {
    position: relative;
}

.user-profile-icon-credentials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #29ABE2;
    font-weight: 600;
}

.user-profile-icon:hover {
    cursor: pointer;
}

.menu-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 232px;
    height: 100%;
    background-color: #2a3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 64px;
    box-sizing: border-box;
}

menu {
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    flex: 1;
}

.links {
    padding-top: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}

.link {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: white;
    width: 120px;
    padding: 8px 56px;
}

.link:hover {
    background-color: #3b4e69;
    cursor: pointer;
    transition: 125ms background-color ease-in-out;
}

.nav-icon {
    margin-right: 10px;
}

.bottom-nav-container {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.information-container {
    display: flex;
    flex-direction: column;
    height: 52px;
    gap: 8px;
    padding: 8px;
    color: #A8A8A8;
    text-align: center;
}

.information-link:hover {
    font-weight: 800;
    color: #369ee4;
    cursor: pointer;

}

.dashboard-content {
    width: 100%;
    box-sizing: border-box;
    margin-top: 96px;
    background-color: #F6F7F8;
}

.summary-headline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 96px;
    margin-top: 4%;
}

h1 {
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    color: #2A3647;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    color: #2A3647;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.summary-main-container {
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-task-container {
    width: 560px;
    height: 561px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.summary-task-number-container {
    display: flex;
    gap: 28px;
}

.summary-task-number-box {
    display: flex;
    width: 168px;
    height: 168px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.summary-task-number-box:hover {
    background-color: #2A3647;
    color: white;
    scale: 1.1;
    transition: 125ms ease-in-out;
    cursor: pointer;
}

.summary-urgent-container {
    display: flex;
    width: 100%;
    padding: 28px 48px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 61px;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);

}

.summary-urgent-container:hover {
    background-color: #2A3647;
    color: white;
    scale: 1.1;
    transition: 125ms ease-in-out;
    cursor: pointer;
}

.summary-urgent-container:hover .summary-deadline {
    color: white;
    transition: 125ms ease-in-out;
}


.summary-todo-container {
    display: flex;
    width: 560px;
    height: 168px;
    align-items: flex-start;
    gap: 32px;
}

.summary-todo {
    display: flex;
    width: 264px;
    padding: 38px 19px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    gap: 18px;
}

.summary-todo:hover {
    background-color: #2A3647;
    color: white;
    scale: 1.1;
    transition: 125ms ease-in-out;
    cursor: pointer;
}

.summary-todo:hover svg {
    filter: invert();
}

.summary-greetings {
    margin-left: 80px;
}

.summary-username {
    color: var(--Ligth-blue, #29ABE2);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.summary-deadline {
    color: #2A3647;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.addtask-main-content {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    box-sizing: border-box;
    height: 100%;
}

.addtask-content {
    display: flex;
    align-items: center;
}

.addtask-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 16px;
}

.addtask-title-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 80%;
}

input {
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding: 12px 16px;
    box-sizing: border-box;
}

.addtask-title-container input:focus {
    outline: none;
}

.addtask-description-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 80%;
}

.addtask-description-container textarea {
    font-family: 'Inter', sans-serif;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding: 12px 16px;
    height: 120px;
}

.addtask-assigned-to-container {
    width: 80%;
    font-size: 20px;
    box-sizing: border-box;
}

.select-contacts-to-assign {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding: 12px 16px;
    position: relative;
    box-sizing: border-box;
}

.select-contacts-to-assign:hover {
    cursor: pointer;
    border: 1px solid #a7a7a7;
}



.select-contacts-to-assign-dropdown {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
    border: 1px solid #D1D1D1;
    display: none;
    cursor: auto;
}


.select-contacts-to-assign-dropdown-contact-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-contacts-to-assign-dropdown-contact-container:hover {
    background-color: #f0f0f0 !important;
    cursor: pointer;
    transform: translate(-0.5%);
}


.select-contacts-to-assign-dropdown-contact {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

.select-contacts-to-assign-dropdown-contact-credentials-container {
    display: flex;
    align-items: center;
    position: relative;
}

.select-contacts-to-assign-dropdown-contact-credentials {
    position: absolute;
    color: white;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-contacts-to-assign-dropdown-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
}

.add-new-contact-button {
    width: 100%;
    background-color: #2a3647;
    color: white;
    text-align: center;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addtask-dates-select {
    width: 100%;
}

.addtask-prio-main-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 80%;
    flex-wrap: wrap;
}

.addtask-prio-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding: 12px 16px;
    box-sizing: border-box;
    gap: 8px;
    flex: 1;
}

.addtask-prio-container:hover {
    box-shadow: -5px 5px 10px #9b9b9b;
    cursor: pointer;
}

.addtask-category-container {
    width: 80%;
    font-size: 20px;

}

select {
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding: 12px 16px;
    box-sizing: border-box;
    width: 100%;
    background: white url('./../img/arrow_drop_down.svg') no-repeat;
    background-position: right 16px center;
    appearance: none;

}

.add-task-bottom-button-left-side {
    width: 50%;
}

.add-task-bottom-button-right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.add-task-bottom-button {
    margin-top: 50px;
    width: 100%;
    display: flex;
   
}

.add-task-bottom-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    width: 80%;
}

.button-clear {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-clear:hover {
    transition: 125ms ease-in-out;
    border-color: #00bee8;
    color: #00bee8;
}

.button-clear:hover svg {
    filter: contrast();
}

.button-create-task {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.button-create-task:hover {
    background-color: #00bee8;
    transition: 125ms ease-in-out;
}
